@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 400;
  src: url('./fonts/poppins-regular.woff2');
}

@font-face {
  font-display: optional;
  font-family: Poppins;
  font-weight: 600;
  src: url('./fonts/poppins-semibold.woff2');
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Tahoma', sans-serif;
}

section, footer {
  padding: 40px 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: initial;
}

h3 {
  font-size: 2.5rem;
}

h3 > em {
  display: inline-block;
  font-weight: 600;
  width: 40vw;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto;
}

p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  section, footer {
    padding: 40px 5%;
  }

  h3 > em {
    width: 24vw;
  }
}

@media only screen and (min-width: 1280px) {
  section, footer {
    scroll-margin-top: 67px;
  }

  h3 > em {
    width: 180px;
  }
}
